<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Libraries</title>
</head>
<body>
    <h1>All Libraries</h1>
    <a href="{% url 'add_library' %}">Add New Library</a>
    <table border="1" cellpadding="5">
        <tr>
            <th>Name</th>
            <th>Location</th>
        </tr>
        {% for library in libraries %}
        <tr>
            <td>{{ library.name }}</td>
            <td>{{ library.location }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">No libraries found.</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'home' %}">Back to Home</a>
</body>
</html>
